{% extends "base.html" %}

{% block content %}
<h2 class="heading">Edit WarehouseLocation</h2>
<div class="form-container">
    <form method="POST">
        <div class="form-row">
            <div class="form-group">
                <label for="name">Enter Location</label>
                <input type="text" id="location" name="location" value="{{ wareh_lo.location }}" required>
            </div>
        </div>

        <div class="form-actions">
            <button class="form-btn-2" type="submit">Update</button>
            <a class="cancel-btn" href="{{ url_for('dashboard.warehouseLocation') }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}