{% extends "base.html" %}

{% block content %}
  <div class="container">
        <a href="/customer" class="box1">Customer</a>
        <a href="/product" class="box1">Product</a>
        <a href="/warehouse" class="box1">Warehouse Name</a>
        <a href="/warehouseLocation" class="box1">Warehouse Location</a>
        <a href="/stockLedger" class="box1">Stock Ledger</a>
        <a href="/priceGroup" class="box1">Price Group</a>
        <a href="/salesOrders" class="box1">Sales Order</a>
  </div>
{% endblock %}
