{% extends "base.html" %}

{% block title %}
Werehouse page
{% endblock %}

{% block content %}
<h2 class="heading">Warehouse Location</h2>

<a href="{{ url_for('create.add_warehouseLocation') }}">
    <button class="form-btn-1">Add WarehouseLocation</button>
</a>
<br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Location</th>
        <th>Action</th>
    </tr>
    {% for wareh_lo in warehouseLocations %}
        <tr>
            <td>{{ wareh_lo.id }}</td>
            <td>{{ wareh_lo.location }}</td>
            <td>
                <a class="edit" href="{{ url_for('edit.edit_warehouseLocation', id = wareh_lo.id)}}">Edit</a>
                <a class="delete" href="{{ url_for('edit.delete_warehouseLocation', id = wareh_lo.id)}}">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}